.App {
  
}

.display-balls-container {
    width: 450px;
    background-color: antiquewhite;
    display: flex;
    gap: 10px;
}

.per-ball {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid rgb(236, 167, 167);
   text-align: center;
}