.App {
    width: 70vw; 
    height: 350px;
    border-radius: 1rem 1rem 1rem 2rem;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    position: relative;
}

.heading {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 500;
    padding: 1rem 0rem;
    background-color: #255ba1;
    color: #fff;
}   

.score-lable {
    margin-left: -15rem;
    font-weight: 700;
    text-shadow: 1px 1px 20px black;
}

.custom-select-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    gap: .6rem;
    margin-top: 2rem;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 2px solid #133A75;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    width: 200px;
    color: #333;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.custom-select:hover,
.custom-select:focus {
    border-color: #02A7D1;
}

.custom-select option {
    padding: 10px;
    background-color: #fff;
}

.display-balls-container {
    /* margin-top: 15rem; */
    /* background-color: #b19292; */
    display: flex;
    border-radius: 0px 0px 5px;
    gap: 10px;
    border-radius: 2rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.four-runs {
    background: #255ba1;
    font-size: 18px;
    font-weight: 500;
}

.six-runs {
    background: #0342d3;
    font-size: 18px;
    font-weight: 600;
}
 
.display-balls-container .score {
    /* flex: 1; */
    font-size: 2rem;
    /* background-color: var(--bg-color-800); */
    color: #fff;
    border-radius: 0px 3rem 3rem 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    /* padding-inline: 2rem; */
}

.scoreboard {
    background-color: red;
    height: 55px;
    display: grid;
    place-items: center;
    border-radius: 2rem 2rem 2rem 2rem;
    padding-inline: 4rem;
    /* z-index: 33333; */
}

.over-container{
    /* flex: 6; */
    gap: 2rem;
    display: flex;
    align-items: center;
    color: #fff;
    letter-spacing: .2rem;
    padding: 1rem 0;
}
 
.overs {
    font-size: 1.5rem;
    display: inline-block;
    /* margin-left: 2rem; */
    background-color: var(--bg-color-500);
    height: 55px;
    display: grid;
    place-items: center;
    border-radius: 0px 2rem 2rem 0rem;
    padding-inline: 1rem;
}

.balls {
    display: flex;
    gap: 1.3rem;
}

.runs {
    background-color: #255ba1;
    border-radius: 50%;
    display: none;
}

.runs:not(:empty) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.per-ball {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid var(--bg-color-500);
   text-align: center;
   font-size: 1.4rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (max-width:920px ) and (min-width:481px) {
    body {
        /* background-color: red; */
    }
    html {
        font-size: 50%;
    }
    .App {
        width: 80vw;
    }
   
    .display-balls-container {
        flex-wrap: wrap;
    }

    .display-balls-container .score {
        flex: 2;
    }
    .over-container {
        flex: 4;
    }
}

@media (max-width:480px) {
    body {
        /* background-color: yellow; */
    }

    html {
        font-size: 50%;
    }
    .App {
        width: 90vw;

        background-image: none;
    }
    .heading {
        padding: 3rem 0;
    }
    .display-balls-container {
        flex-direction: column-reverse;
    }

    .display-balls-container .score  {
        padding: 1.5rem;
        border-radius: 2px;
    }

    .score-lable {
        margin-left: 0;
        color: black;
        text-shadow: none;
        font-size: 3rem;
    }
    .custom-select {
        width: 80vw;
    }

    .over-container {
        justify-content: center;
    }
    .over-container .balls {   
        flex-wrap: wrap;
    }
}